* {
  box-sizing: border-box;
}
:root {
  --primary-color: #ffb900;
}

html {
  font-size: 62.5%;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

/* Common */
a,
button {
  font-family: sans-serif;
}
a {
  text-decoration: none;
}

.container {
  width: 1140px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
